* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Hammersmith";
    src: url("./fonts/Hammersmith_One/HammersmithOne-Regular.ttf");
}

@font-face {
    font-family: "OpenSans_Regular";
    src: url("./fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

body {
    font-family: "Hammersmith";
    background-color: #ede7f6;
}